# To install, run pip3 install -r requirements.txt
# May need:
# brew install sdl sdl_image sdl_mixer sdl_ttf portmidi
# using python 3.7.7

Keras==2.3.0
numpy==1.16.4
pygame==1.9.6
pypianoroll==0.5.0
tensorflow==2.0.1