# To install, run pip3 install -r requirements.txt
# using python 3.7.7
# May need:
# brew install sdl sdl_image sdl_mixer sdl_ttf portmidi
# To get more efficient tensorflow build, run:
# brew tap bazelbuild/tap
# brew install bazelbuild/tap/bazel
# brew upgrade bazelbuild/tap/bazel
# Remove previous tensorflow with pip uninstall tensorflow
# Follow directions at https://www.tensorflow.org/install/source but in bazel build command, add flags in:
# https://medium.com/@sometimescasey/building-tensorflow-from-source-for-sse-avx-fma-instructions-worth-the-effort-fbda4e30eec3

Keras==2.3.0
numpy==1.18.4
pygame==1.9.6
pypianoroll==0.5.0
tensorflow==2.0.1
jupyterlab==2.1.2